
.searchBar {
    display: flex;
    flex-direction: column;
    position: relative;
}

.searchBar button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchBar .inputSearch {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.inputSearch input {
    z-index: 1;
    font-size: 0.875rem;
    color: black;
    border: 1px solid black;
    background-color: #E6D1DD;
    display: flex;
    padding: 1rem;
}

.inputSearch input:focus {
    outline: none;
}

.searchBar ul {
    list-style: none;
    background-color: #e9e9ed;
    font-size: 0.875rem;
    color: black;
    position: absolute;
    top: 2.5rem;
}

.searchBar ul li {
    padding: 1rem;
    cursor: pointer;
}

.searchBar ul li:hover {
    background-color: #d1a4be;
}

.inputSearch span {
    color: black;
    padding: 1rem;
}
