
.searchBar {
    display: flex;
    flex-direction: column;
    position: relative;
}

.searchBar button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchBar .inputSearch {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.inputSearch input {
    font-size: 2rem;
    color: white;
    border: none;
    background-color: #1c1c1d;
    display: flex;
    padding: 1rem;
}

.inputSearch input:focus {
    outline: none;
}

.searchBar ul {
    width: 100%;
    list-style: none;
    background-color: #1c1c1d;
    border-radius: 5px;
    font-size: 2rem;
    color: white;
    overflow: hidden;
    position: absolute;
    top: 5rem;
}

.searchBar ul li {
    padding: 1rem;
    cursor: pointer;
}

.searchBar ul li:hover {
    background-color: black;
}

.inputSearch span {
    color: white;
    padding: 1rem 2rem;
}
