
.excel-content {
    display: flex;
    flex-direction: row;
}

.excel-part {
    margin: 10px;
    border: solid #B37BB7;
    flex-direction: column;
    flex: 50%;
}

.excel-import {

}

.excel-export {

}

.excel-instruction {
    margin: 10px;
    border: solid #B37BB7;
    flex: 50%;
}

.excel-title {
    font-size: 2rem;
    text-align: center;
}