{% extends 'base.html.twig' %}

{% block title %}Hello ExcelController!{% endblock %}

{% block body %}
<h1>Excel.</h1>
    <div>
        <div>
            <h2>Import :</h2>
            <form method="post" enctype="multipart/form-data" action=" {{ path('app_excel_import') }}">
                <input id="excel" name="excel" type="file">
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}
