{% block body %}
    <div class="tab">
        <a class="tablinks" href="/attribution/1">S1</a>
        <a class="tablinks" href="/attribution/2">S2</a>
        <a class="tablinks" href="/attribution/3">S3</a>
        <a class="tablinks" href="/attribution/4">S4</a>
        <a class="tablinks" href="/attribution/5">S5</a>
        <a class="tablinks" href="/attribution/6">S6</a>
    </div>
{% endblock %}