{% extends 'base.html.twig' %}
{% block body %}
    <h1>Ajout d'un voeu pour le cours : {{ lesson.name }}</h1>

    <form method="post">
        <label id="teachers"> Séléctionner un professeur</label>
            <select id="teachers" name="teachers">
                {% for teacher in teachers %}
                    <option value={{ teacher.id }}>{{teacher.lastname}} {{teacher.firstname}}</option>
                {% endfor %}
            </select>
        <input type="submit" value="Submit">
    </form>
{% endblock %}